.container__cat{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.container__cat img{
  background: #eee;
  border-radius: 5px;
  box-shadow: 20px 20px 10px rgba(0,0,0,.2); 
}
.select {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 60%;
}

.content__select{
  width: 40%;
}
