.container__home{
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  margin-top: -5.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 4.5rem;
  padding: 1rem 2rem;
}

.container__post {
  max-width: 864px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  width: 104%;
  gap: 1.25rem;
  padding: 1rem;
  height: 330px;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  transition: border 0.2s ease 0s;
  background: rgb(221 223 225);
  border: 2px solid transparent;
  overflow: hidden;
  cursor: pointer;
  
}

.card:hover{
  border: 2px solid rgb(123, 150, 178);
}

.header__card {
  display: flex;
  justify-content: center;
}



.header__card img {
 border-radius: 50%;

}

.header__card span{
  font-size: 0.875rem;
  line-height: 160%;
  color: rgb(0, 0, 0);
}

.main__card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__card p{
  height: 100%;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.btn{
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 950px) {
  .card {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 2rem;
}
}